<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeNamed Aurelia Skeleton</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" href="~/css/tables.css" />*@
    @*<link href="~/css/pace.css" rel="stylesheet" />*@
    @*<link href="~/css/validation.css" rel="stylesheet" />*@
</head>
<body>
    <div id="wrapper">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</body>
</html>
